<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	 xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
	<Bundle Name="$(var.ApplicationName)" 
			Version="1.0.0" UpgradeCode="{$(var.UpgradeCode)}" 
			Manufacturer="OHIF"
			IconSourceFile="$(var.SourceDir)\logo.ico" >
					
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
		  <bal:WixStandardBootstrapperApplication 
			SuppressOptionsUI="yes"
			LicenseUrl=""
			LogoFile="$(var.SourceDir)\logo.ico" />
		</BootstrapperApplicationRef>
		
		<Chain>
			<PackageGroupRef Id="NodeJsPackage"/>
			<PackageGroupRef Id="MongoDBPackage"/>
			<PackageGroupRef Id="OrthancPackage"/>
			<PackageGroupRef Id="MainInstaller"/>
		</Chain>
	</Bundle>
</Wix>